

*{
    
    margin: 0px;
    /* padding: 0px; */
}

header{
    padding: 0px;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;

}
#logo-image{
            padding: 20px;
            margin-top: -15px;
            width:12rem;
            height:12rem;
            
        }

.header-content{
	
	
	display: flex;
	position: relative;
	flex-direction: column;
	text-align: center;
	font-size: 50%;
	
}
#logo-image{
   
    z-index: 10;
    
    animation: backspin 0.8s ;
}

#logo-image:hover{
    animation: spin 0.8s ;

}
@keyframes spin {
    from {
        transform: rotate(0deg) scale(1);
        } to {
            transform: rotate(720deg) scale(1.2);
        }
    }

    @keyframes backspin {
        from {
            transform: rotate(720deg) scale(1.2);
            } to {
                transform: rotate(0deg) scale(1);
            }
        }

#name{
	height: auto;
	width: 70%;
	padding: 0 0 5% 0;
}
#btn1,#btn2 {
    
    margin: 0 2rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    border: 2px solid white;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    border-radius: 100px; 
    display: inline-block;
    font-size: 1.2rem;
        border: 1px solid white;
        padding: 1.1rem 1.7rem; 
        cursor: pointer;
        background: transparent;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;

}
#btn1:hover,#btn2:hover
{
    background-color: #E7E7E7; color: black;
    }


#rounds{
background-color: #EEEEEE;
height: 100%;
width: 100%
margin:0px;
padding: 4rem 3rem;




}
#round1-content{
	height: 50%
	width:50%;

background-color: white;
padding: 10px 10px 10px 10px;
box-shadow : 0 1rem 3rem rgba(0, 0, 0, 0.2);
position: relative;
display: flex;
flex-direction: column;
margin bottom: 5rem;
box-sizing: inherit;



}
#round-1-button{
	font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 30px;
    margin-left: 5px;
    border:1px solid #004d40;
    font-weight: 400;
    border-radius: 3px;
    color: #004d40;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    letter-spacing: 1px;
    background: transparent;
    cursor: pointer;

}
#round-1-button:hover
{
    background-color: #E7E7E7; color: black;
    }
#round1-content{
	color: #737272;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;

}






footer{
    height: 25%;
    width: 100%;   
}
@keyframes updown {
    0% {
      transform: translateY(-30%) ;
    }
  
    50% {
      transform: translateY(-80%);
    }
  
    100% {
      transform: translateY(-30%);
    }
  }

.footer_section{
    height: 8rem;
    position: relative;
    overflow: hidden;
}

.footer_img img{
    background: linear-gradient(rgb(2, 202, 69),rgba(18, 200, 2, .2)),url("footer.png");
    width: 100%;
    height: 800%;
    position: absolute;
    top: 0;
    left: 0;
    animation:updown 8s infinite;   
}

.link_icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     
}

.link_icons img{
    height: 43px;
    width: 44px;
    padding: 8px;
    margin-left: 4px;
    margin-top: -10rem;
    border-bottom: 2px dotted white;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s;

}

.link_icons img:hover{
        cursor: pointer;
        -webkit-transform: rotate(360deg) scale(1.2);
}




.foot_head h6{
    background-color: rgb(24, 109, 69);
    padding: 5px;
    font-size: 10px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
  
}
.container{
    display: flex;
    width: 100%;
    height: 70rem;
    background-color: #C9C8C8;
    flex-direction: column;
    /* align-items: center;
    align-items: stretch; */ 
    margin:auto;



 }
 .box{
    
    width: 78%;
    background-color: white;
    height:16rem;
     box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
     margin-left: auto;
     margin-right: auto;
     margin-top: 60px;
     margin-bottom: 50px;
     


 }

 .content{
    /* width: auto;
    height: auto; */
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    background: #fff;
    }
    .rule_btn{
        color: #1689C4;
        background-color: white;
        border: 2px solid #1689C4;
        padding: 3px ;
        margin: 1px ;
        size: 1rem;
        letter-spacing:1px ;
            /* font-family: "Times New Roman", Times, serif; */
             font-weight: bold;
    }
    .rule_btn:hover{
        background-color: #B1B3B3; color: #1689C4;

    }
 .round_paragraph1{


    width:auto;
    /* height:auto; */
    margin-left: 50px;
    font-size:100%;
    color: gray;
    margin-top: 0px;

 }

.round_heading{
    color: #302D2D;
    
}
.domain{
    color: #302D2D;
}
 .img1{ 
    margin-top: 0px;
    margin-left: 20px;
    float: right;
    width: 15rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin-right: -40px;
    transform: skew(-10deg);
    }
 .round_img{
    margin-top: 0px;
    margin-bottom: 0px;
 }
  .round_paragraph3{
    width:auto;
    /* height:auto; */
    margin-left: 50px;
    font-size:100%;
    color: gray;
    margin-top: 0px;

 }
 .img3{ 
    margin-top: 0px;
    margin-left: 20px;
    float: right;
    width: 15rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin-right: -40px;
    transform: skew(-10deg);
    }
    .round_paragraph2{
    width:auto;
    /* height:auto; */
    margin-left: 50px;
    margin-right: 20px;
    font-size:100%;
    color: gray;
    margin-top: 0px;

 }
     .img2{ 
    margin-top: 0px;
    margin-left: 20px;
    float: left;
    width: 15rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    margin-left: -40px;
    transform: skew(10deg);
    }

